<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/main-decorator"
	xmlns:sec="http://www.thymeleaf.org/extras/dialect">
<head>
<title th:text="#{dashboard.page.title}">Dashboard</title>
</head>
<body>

	<div layout:fragment="main-content">
		<section class="content-header">
			<h1 th:text="#{dashboard.page.title}">Statistik</h1>
			<ol class="breadcrumb">
				<li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
				<li class="active">Here</li>
			</ol>
		</section>

		<!-- Main content -->
		<section class="content">

			<div class="row">
				<div class="col-md-3 col-sm-6 col-xs-12">
					<div class="info-box">
						<span class="info-box-icon bg-aqua"><i
							class="fa fa-film"></i></span>

						<div class="info-box-content">
							<div class="col-md-12 col-sm-12 col-xs-12">
								<span class="info-box-text">Filme</span>
							</div>
							<div class="col-md-4 col-sm-6 col-xs-12">
								<span class="info-box-number" th:text="${movieUserCount}">MovieuUserCount</span>
							</div>
							<div class="col-md-4 col-sm-6 col-xs-12">
								<span class="info-box-number">Von</span>
							</div>
							<div class="col-md-4 col-sm-6 col-xs-12">
								<span class="info-box-number" th:text="${movieCount}">MovieCount</span>
							</div>
							<div class="col-md-8 col-sm-6 col-xs-12">
								<span class="info-box-number" th:text="${movieUserProcent}">MovieCount</span>
							</div>
							<div class="col-md-4 col-sm-6 col-xs-12">
								<span class="info-box-number">%</span>
							</div>
						</div>
						<!-- /.info-box-content -->
					</div>
					<!-- /.info-box -->
				</div>
				<!-- /.col -->
				<div class="col-md-3 col-sm-6 col-xs-12">
					<div class="info-box">
						<span class="info-box-icon bg-red"><i
							class="fa fa-video-camera"></i></span>

						<div class="info-box-content">
							<div class="col-md-12 col-sm-12 col-xs-12">
								<span class="info-box-text">Filme Gesehen Zeit</span>
							</div>
							<div class="col-md-4 col-sm-6 col-xs-12">
								<span class="info-box-number" th:text="${movieUserTime}">MovieuUserTime</span>
							</div>
							<div class="col-md-4 col-sm-6 col-xs-12">
								<span class="info-box-number">Min</span>
							</div>
						</div>
						<!-- /.info-box-content -->
					</div>
					<!-- /.info-box -->
				</div>
				<!-- /.col -->

				<!-- fix for small devices only -->
				<div class="clearfix visible-sm-block"></div>

				<!-- <div class="col-md-3 col-sm-6 col-xs-12">
					<div class="info-box">
						<span class="info-box-icon bg-green"><i
							class="ion ion-ios-cart-outline"></i></span>

						<div class="info-box-content">
							<span class="info-box-text">Sales</span> <span
								class="info-box-number">760</span>
						</div>
						<!-- /.info-box-content -->
					<!--</div>-->
					<!-- /.info-box -->
				<!-- </div>-->
				<!-- /.col -->
				<!--<div class="col-md-3 col-sm-6 col-xs-12">
					<div class="info-box">
						<span class="info-box-icon bg-yellow"><i
							class="ion ion-ios-people-outline"></i></span>

						<div class="info-box-content">
							<span class="info-box-text">New Members</span> <span
								class="info-box-number">2,000</span>
						</div>
						<!-- /.info-box-content -->
					<!-- </div>-->
					<!-- /.info-box -->
				<!-- </div>-->
				<!-- /.col -->
			</div>

			Roles: <span sec:authentication="principal.authorities">[ROLE_USER,
				ROLE_ADMIN]</span>
			<div sec:authentication="name">The value of the "name" property
				of the authentication object should appear here.</div>

			<div sec:authorize="hasRole('ROLE_USER')">This will only be
				displayed if authenticated user has role ROLE_USER.</div>

			<div sec:authorize="hasRole('ROLE_ADMIN')">This will only be
				displayed if authenticated user has role ROLE_ADMIN.</div>

		</section>
		<!-- /.content -->
	</div>



	<div layout:fragment="decorator-page-js" th:remove="tag"></div>

	<div layout:fragment="header-css-extra" th:remove="tag"></div>

</body>
</html>