<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
	<div th:fragment="maintab">
		<div class="box box-info">
			<div class="box-header with-border">
				<h3 class="box-title">&nbsp;</h3>
			</div>
			<!-- /.box-header -->
			<!-- form start -->
			<form action="#" th:action="@{'/movie/' + ${movie.id} + '/update'}"
				th:object="${movie}" method="post"
				class="form-horizontal form-custom ajax-form"
				novalidate="novalidate">
				<div class="box-body">
					<div class="form-group"
						th:classappend="${#fields.hasErrors('*{title}')}? 'has-error'">
						<label class="col-sm-2 control-label"
							th:text="#{movie.field.name}">title</label>
						<div class="col-sm-10">
							<input class="form-control" type="text" th:field="*{title}"
								placeholder="Title" th:placeholder="#{movie.field.title}"
								th:attr="data-msg-required=#{movie.messages.name_empty}"
								data-msg-required="Please enter a name"
								data-rule-required="true" /> <span class="help-block"
								for="name" th:if="${#fields.hasErrors('*{title}')}"
								th:errors="*{title}"> <i class="fa fa-warning"></i>
								Incorrect name
							</span>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label"
							th:text="#{movie.field.genre.name}">GenreName</label>
						<div class="col-sm-10">
							<input type="hidden" id="genreNamenHidden" class="form-control"
								th:value="${selectgenres}" name="selectgenres" /> <select
								class="select2 form-control" id="genre-selection"
								style="min-width: 500px;" multiple="multiple"
								name="genre-selector">
								<option th:each="genre : ${genres}" th:value="${genre.id}"
									th:text="${genre.name}">Genre</option>
							</select>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label"
							th:text="#{movie.field.user.watched}">UserWatched</label>
						<div class="col-sm-10">
							<input class="form-control" style="width: 80%; float: left;"
								type="text" th:value="${userMovieWatched}" disabled="disabled"
								value="no" />
							<button type="submit" name="shown" style="float: right;"
								class="btn btn-info pull-right"
								th:text="#{common.button.geguckt}">Geguckt</button>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label"
							th:text="#{movie.field.runtime}">Runtime</label>
						<div class="col-sm-10">
							<input class="form-control" type="text" th:value="*{runtime}"
								disabled="disabled" value="no" />
						</div>
					</div>
					<div th:replace="fragments/audit::fields"></div>
				</div>
				<!-- /.box-body -->
				<div class="box-footer">
					<button type="submit" class="btn btn-info pull-right"
						th:text="#{common.button.save}">Save</button>
				</div>
				<!-- /.box-footer -->
			</form>
		</div>
		<script>
			var dataAlt = $('#genreNamenHidden').val();
			var data = dataAlt.substr(0, dataAlt.length - 1);
			var array = data.split(",");

			$('.select2').select2(); // init select2
			$('.select2').val(array).trigger('change');
		</script>
	</div>

	<div th:fragment="descriptiontab">
		<div class="box box-info">
			<div class="box-header with-border">
				<h3 class="box-title">&nbsp;</h3>
			</div>
			<!-- /.box-header -->
			<!-- form start -->
			<form action="#" th:action="@{'/movie/' + ${movie.id} + '/update'}"
				th:object="${movie}" method="post"
				class="form-horizontal form-custom ajax-form"
				novalidate="novalidate">
				<div class="box-body">
					<div class="form-group"
						th:classappend="${#fields.hasErrors('*{title}')}? 'has-error'">
						<label class="col-sm-2 control-label"
							th:text="#{movie.field.description}">Description</label>
						<div class="col-sm-10">
							<textarea class="form-control" th:field="*{overview}"
								placeholder="Title" th:placeholder="#{movie.field.description}"
								th:attr="data-msg-required=#{movie.messages.name_empty}"
								data-msg-required="Please enter a name"
								data-rule-required="true"></textarea>
							<span class="help-block"
								th:if="${#fields.hasErrors('*{overview}')}"
								th:errors="*{overview}"> <i class="fa fa-warning"></i>
								Incorrect name
							</span>
						</div>
					</div>

					<div th:replace="fragments/audit::fields"></div>
				</div>
				<!-- /.box-body -->
				<div class="box-footer">
					<button type="submit" class="btn btn-info pull-right"
						th:text="#{common.button.save}">Save</button>
				</div>
				<!-- /.box-footer -->
			</form>
		</div>
	</div>

</body>
</html>